.confirmBox {

    .box {
        background-color: white;
        // width: 50%;
        margin: 0 auto;
        color: black;
        padding: 5rem 4rem 4rem;
        border-radius: 10px;
        align-items: center;
        text-align: center;

        button {
            background-color: rgb(247, 75, 63);
            color: white;
            height: 40px;
            border-radius: 5px;
            width: 150px;
            font-size: 14px;
            transition: all .2s ease-in;
            position: relative;
            left: -10px;
            top: -2px;
            transition: all .2s ease-in;
            text-align: center;
            margin: 1rem auto 0;
            
            &:hover {
                background-color: rgb(204, 43, 32);
            }
        }
    }
}